<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WebStars|Login</title>
  <link rel="stylesheet" href="log.css" type="text/css">

</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="user name">
        <input type="text" placeholder="password">
        
        <button>Login</button>
        <p class="message">Not yet Registered? <a href="signup.html">Register</a></p>
      </form>

    </div>

  </div>
  <div class="row">
    <ul class="menu">
        
       <li> <a href="index.html">home</a></li>
    </ul>
  </div>

  <script src="jquery-3.3.1.min.js"></script>
  <script>
    $('.message a').click(function(){
      $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
  </script>
  
</body>
</html>